data/*
data_StratifiedKFold_666/*
data_StratifiedKFold_666_pseudo/*
.ipynb_checkpoints/*
predict_data/*
submit/0627
submit/0705
submit/CCL2020-Walking Dad 0627.zip
submit/CCL2020-Walking Dad 0705.zip
transdata_StratifiedKFold_666/*